* {
  box-sizing: border-box
}

img{
  width: 180px;
  height: auto;
border-radius: 6px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
  margin: 0 0 2rem 0;
  font-size: 1rem;
  color: white;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}
.button{
  width:170px; height:50px;color:#3dff23;background-color:#ff6de8;font-size : 20px;font-weight: bold;border-radius: 6px;
}

.buttonDecision{
  width:170px; height:100px;color: #000000;background-color: white;font-size : 20px;font-weight: bold;border-radius: 6px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(25% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(25% - 2rem);
  }
}

.card:nth-child(3n) h3 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(2n) h3 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(4n) h3 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}